absl-py==2.0.0
aiosignal==1.3.1
alabaster==0.7.16
appdirs==1.4.4
astroid==2.15.8
attrs==23.1.0
autobahn==19.3.3
Automat==24.8.1
AutoROM==0.6.1
Babel==2.14.0
beautifulsoup4==4.12.3
black==24.8.0
cachetools==5.3.2
certifi==2023.11.17
cffi==1.17.0rc1
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==3.0.0
cmake==3.29.2
colorama==0.4.6
colorlog==6.8.0
commonmark==0.9.1
constantly==23.10.4
contourpy==1.2.0
coolname==2.2.0
cycler==0.12.1
Cython==3.0.0
dataclasses==0.6
dill
dm-tree==0.1.8
docker-pycreds==0.4.0
docstring_parser==0.16
docutils==0.21.1
dotmap==1.3.30
exceptiongroup==1.2.0
expt==0.4.2
Farama-Notifications==0.0.4
faster-fifo==1.4.5
filelock==3.13.1
fonttools==4.47.0
frozenlist==1.4.1
fsspec==2023.12.2
furo==2024.1.29
future==0.18.3
gitdb==4.0.11
GitPython==3.1.40
google-auth==2.25.2
google-auth-oauthlib==1.2.0
GPUtil==1.4.0
grpcio==1.60.0
gym==0.23.0
gym-notices==0.0.8
gymnasium==0.28.1
hyperlink==21.0.0
idna==3.6
imageio==2.36.1
imageio-ffmpeg==0.4.9
imagesize==1.4.1
importlib-metadata==5.2.0
importlib_resources==6.4.0
incremental==24.7.2
iniconfig==2.0.0
isort==5.13.2
jax-jumpy==1.0.0
Jinja2==3.1.2
joblib==1.4.0
jsonschema==4.20.0
jsonschema-specifications==2023.11.2
kiwisolver==1.4.5
lazy-object-proxy==1.10.0
lazy_loader==0.3
llvmlite==0.41.1
lz4==4.3.2
Markdown==3.5.1
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.8.2
mccabe==0.7.0
mdurl==0.1.2
mpmath==1.3.0
msgpack==1.0.7
multi-agent-ale-py==0.1.11
multiprocess==0.70.16
mypy-extensions==1.0.0
networkx==3.2.1
ninja==1.11.1.1
nle==0.9.0
numba==0.58.1
numpy==1.23.3
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-ml-py==12.560.30
nvidia-nccl-cu12==2.18.1
nvidia-nvjitlink-cu12==12.3.101
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.2
objprint==0.2.3
opencv-python==3.4.17.63
opencv-python-headless==4.10.0.84
openrlbenchmark==0.2.0
opensimplex==0.4.5
ordered-set==4.1.0
packaging==23.2
pandas==2.1.4
pathspec==0.12.1
pathtools==0.1.2
patsy==0.5.6
peewee==3.17.3
pettingzoo==1.24.1
Pillow==10.1.0
platformdirs==4.2.0
plotly==5.21.0
pluggy
property-cached==1.6.4
protobuf==4.23.4
psutil==5.9.5
pufferlib==2.0.6
py==1.11.0
py-cpuinfo==9.0.0
pyarrow==14.0.2
pyasn1==0.5.1
pyasn1-modules==0.3.0
pybind11==2.11.1
pycparser==2.21
pyenchant==3.2.2
pygame==2.5.2
pyglet==1.4.11
Pygments==2.17.2
PyHamcrest==2.1.0
pylint==2.16.0
pymunk==6.2.0
pynvml==12.0.0
pyparsing==3.1.1
pyprof2calltree==1.4.5
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0.1
ray==2.8.1
raylib==5.0.0.3
referencing==0.32.0
requests==2.31.0
requests-oauthlib==1.3.1
rich==11.2.0
rich-argparse==1.6.0
rliable==1.0.8
rpds-py==0.15.2
rsa==4.9
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
sample-factory==1.120.0
scikit-image==0.22.0
scipy==1.10.0
seaborn==0.12.2
sentry-sdk==1.39.1
setproctitle==1.3.3
Shimmy==0.2.1
shtab==1.7.1
six==1.16.0
smmap==5.0.1
snakeviz==2.2.0
snowballstemmer==2.2.0
soupsieve==2.5
Sphinx==7.3.2
sphinx-basic-ng==1.0.0b2
sphinx-tabs==3.4.5
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
sphinxcontrib-spelling==8.0.0
stable-baselines3==2.2.1
statsmodels==0.14.2
SuperSuit==3.9.2
sympy==1.12
tabulate==0.9.0
tenacity==8.2.3
tensorboard==2.15.1
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
threadpoolctl==3.2.0
tifffile==2023.12.9
tinyscaler==1.2.7
tomli==2.0.1
tomlkit==0.12.4
torch==2.1.2
tornado==6.4
tqdm==4.66.2
triton==2.1.0
tueplots==0.0.4
Twisted==19.2.0
txaio==23.1.1
typeguard==4.1.5
typer==0.9.0
typing==3.7.4.3
typing_extensions==4.10.0
tyro==0.5.18
tzdata==2023.3
urllib3==2.1.0
vec_noise==1.1.4
viztracer==0.16.2
wandb==0.13.11
Werkzeug==3.0.1
wrapt==1.16.0
zipp==3.18.1
zope.interface==7.1.1
